html {
    background: rgb(240, 63, 63);
    background: linear-gradient(0deg, rgba(240, 63, 63, 0.14874141876430202) 0%, rgba(198, 91, 14, 0.15102974828375282) 49%, rgba(255, 199, 0, 0.06407322654462244) 100%);
    background-attachment: fixed;
}

.loading-container {
    min-height: 45vh;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    transition: opacity .15s ease-in;
    z-index: -1;
}

.main-container {
    animation: fadeIn ease-in .4s;
}

.pagination-buttons {
    /* left: 21%;
    right: 21%; */
    top: 65%;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.fade-out {
    opacity: 0;
}